body {margin:0;}

body {font-family: "Montserrat", sans-serif;}

/*Background image for the page*/

body {

  background-image: url("images/Connectbackground.jpg");

  width: 100%;
  height: 760px;
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
}

/* START: Navigation bar NAV Bar source: https://www.w3schools.com/css/css_navbar_horizontal.asp */

ul {
  list-style-type: none;
  margin: 0 auto; /*sets the margin to 0 so that the NAV bar extent is all the way to the edge of the page*/
  overflow: hidden;
  background-color: #f8fdf9;

}

/*Nav bar style*/ 

li a {
  display: block; /*displays the element as a block element*/
  color: rgba(79, 163, 27, 0.841); /*changes the color of font*/
  padding: 20px 28px; /*increase the padding*/
  float: left; /* make the nav bar appear on the left-hand side*/
  font-size: 20px; /*changes the font size of the NAV bar text*/
  text-decoration: none; /* remove the underline over the NAV bar text */
  font-family: "Montserrat", sans-serif /*Change font*/
}

/*highlights section of nav bar depending on where your mouse cursor is*/

li a:hover:not(.active) {
  background-color: rgba(118, 219, 105, 0.705);
  transition-duration: 0.8s;
}

/* END Navigation Bar

/* Makes a Transparent box to go under the map and forms*/

.main {
  background-color: hsla(36, 6%, 17%, 0.6);
    width:auto;
    padding: 80px;
    margin: 20px;
    height: 41vw;

}

/* Positioning and style for the forms source: https://www.w3schools.com/howto/howto_css_contact_form.asp*/

textarea {
  position:absolute;
  width: 100%;
  max-width: 24vw;
  padding: 12px;
  border-radius: 10px;
  margin-left: 40vw;
  margin-top: 12.5vw;
  font-family: "Montserrat", sans-serif 
}

.name-box {
  position:absolute;
  width: 100%;
  max-width: 15vw;
  padding: 12px;
  border-radius: 10px;
  margin-left: 40vw;
  margin-top: 3vw;
}

.email-box {
  position:absolute;
  width: 100%;
  max-width: 23vw;
  padding: 12px;
  border-radius: 10px;
  margin-left: 40vw;
  margin-top: 7vw;
    font-family: "Montserrat", sans-serif 
}

/*Submit button layout*/

.submit-button {
  
  text-align:center;
  position: absolute;
  top: 125%;
  left: 44%;
  font-family: "Montserrat", sans-serif 
  
}

.submit-button {
  background-color: #75c537e9;
  border: none;
  color: white;
  padding: 4px 22px;
  text-align: center;
  font-size: 24px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif
  
}


.submit-button {
  background-color: #36931efc; /* Green */
  color: rgb(255, 255, 255);
}

.contact-text {
  position:absolute;
  color: white;
  text-align: left;
  font-size: 1vw;
  top: 35%;
  left: 44.5%;
}

/*twitter logo customization and transformations*/

.twitter-logo {
  position:absolute;
  top: 80%;
  left: 72%;
  font-size: 50px;
}

.twitter-logo1:hover {
  color:rgb(23, 135, 240);
}

.twitter-logo1 {
  transition: color 0.2s;
  color:rgb(29 161 242)
  
}


/*linkedin logo customization and transformations*/

.linkedin-logo {
  transform: translate(75%, 820%);
  font-size: 50px;
}

.linkedin-logo1:hover {
  color:rgb(81, 156, 255);
}

.linkedin-logo1 {
  color:rgb(10, 102, 194)
  
}

/*instagram logo customization and transformations*/



.insta-logo {
  transform: translate(75%, 840%);
  font-size: 50px;
}

.insta-logo1:hover {
  color:rgb(110, 18, 15);
}

.insta-logo1 {
  color:rgb(251, 57, 88)
  
}
