/*Make the nav bar appear at the very edge of the page so there are no awk spaces*/
body {margin:0;}

/* Inserting background image for the home page source: https://www.w3schools.com/css/css_background_image.asp*/

body {
  background-image: url("/images/BackgroundHome1.png"); 
  height: 760px;
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* START: Navigation bar NAV Bar source: https://www.w3schools.com/css/css_navbar_horizontal.asp */

ul {
  list-style-type: none;
  margin: 0 auto; /*sets the margin to 0 so that the NAV bar extent is all the way to the edge of the page*/
  overflow: hidden;
  background-color: #f8fdf9;

}

/*Nav bar style*/ 

li a {
  display: block; /*displays the element as a block element*/
  color: rgba(79, 163, 27, 0.841); /*changes the color of font*/
  padding: 20px 28px; /*increase the padding*/
  float: left; /* make the nav bar appear on the left-hand side*/
  font-size: 20px; /*changes the font size of the NAV bar text*/
  text-decoration: none; /* remove the underline over the NAV bar text */
  font-family: "Montserrat", sans-serif /*Change font*/
}

/*highlights section of nav bar depending on where your mouse cursor is*/

li a:hover:not(.active) {
  background-color: rgba(118, 219, 105, 0.705);
  transition-duration: 0.8s;
}

/* END Navigation Bar

/*Font, positioning, and style for "Hello" highlight*/

.text-home h1 {
  margin-block-start:auto;
  text-align: center; /*Centers the text*/
  position: absolute;
  top: 30%; /*positions the text up or down*/
  left: 43%; /*positions the text left or right */
  color: rgb(255, 255, 255); /*color of text*/
  font-size: 6vw; /*sets the font size, used vw so that the text is responsive*/
  font-weight: bold; /* change font to bold*/
  font-family: "Montserrat", sans-serif
   
}


/*Font, positioning, and style for "I'm Andy" */

.text-home h2 {
  text-align: center;
  position: absolute;
  margin-block-start:auto;
  top: 52%;
  left: 38%;
  color: rgb(255, 255, 255);
  font-size: 6vw;
  font-weight: bold;
  font-family: "Montserrat", sans-serif 
}

/*Font, positioning, and style for "Welcome to my website" */

.text-home h3 {
  text-align: center;
  position: absolute;
  margin-block-start:auto;
  top: 77%;
  left: 23%;
  color: rgb(255, 255, 255);
  font-size: 5vw;
  font-weight: bold;
  font-family: "Montserrat", sans-serif 
}

/*Properly aligns "Download CV" button*/ 

.button-home {
  text-align:center;
  position: absolute;
  top: 102%;
  left: 46%;




}

/*Button style source: https://www.w3schools.com/css/css3_buttons.asp*/

.button1 {
  background-color: #75c537e9;
  border: none;
  color: white;
  padding: 14px 22px;
  text-align: center;
  text-decoration: none;

  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif
  
}

/*Gives a hover effect lasting 0.6 seconds when cursor hovers button*/
.button1 {

  transition-duration: 0.6s;

}

/*gives the hover effect a color*/

.button1:hover {
  background-color: #36931efc; /* Green */
  color: rgb(255, 255, 255);
}

/*Makes the button appear more round instead of a square*/

.button1 {border-radius: 40px;}


